---
substitutions:
  relay_1_id: relay_1
  relay_2_id: relay_2

  light_1_id: light_1
  light_1_name: ${friendly_name} L1
  light_1_virtual: "false"
  light_1_relay: ${relay_1_id}

  light_2_id: light_2
  light_2_name: ${friendly_name} L2
  light_2_virtual: "false"
  light_2_relay: ${relay_2_id}

packages:
  device: !include ./sonoff/tx-ultimate/base.yaml
  scripts: !include ./sonoff/tx-ultimate/scripts-2ch.yaml
  switch_1: !include
    file: ./sonoff/tx-ultimate/switch.yaml
    vars:
      relay_id: ${relay_1_id}
      relay_pin: ${relay_1_pin}
  light_1: !include
    file: ../common/light.yaml
    vars:
      light_name: ${light_1_name}
      light_id: ${light_1_id}
      relay_id: ${light_1_relay}
      is_virtual: ${light_1_virtual}
  switch_2: !include
    file: ./sonoff/tx-ultimate/switch.yaml
    vars:
      relay_id: ${relay_2_id}
      relay_pin: ${relay_2_pin}
  light_2: !include
    file: ../common/light.yaml
    vars:
      light_name: ${light_2_name}
      light_id: ${light_2_id}
      relay_id: ${light_2_relay}
      is_virtual: ${light_2_virtual}
